.App {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.App-header {
  background-image: url("sf.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 60%;
  padding: 20px;
}

.Temp-text {
  font-size: 60px;
  padding: 10px;
  color: white;
}

.City-text {
  font-size: 20px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 35%;
  width: auto;
}

.Day-item {
  display: flex;
  flex-direction: column;
  width: 14.2857%;
  cursor: pointer;
  background-color: white;
  color: #7B8585;
  transition: 0.3s;
}

.Day-text {
  display: flex;
  align-self: center;
  padding: 30px;
  font-size: 20px;
  color: gray;
}

.Day-temp {
  display: flex;
  align-self: center;
  padding: 10px;
  font-size: 50px;
  color: gray;
}

.Day-item:hover {
  background-color: #beecea;
}

.Day-item.focused{
  color: #fff;
  background-color: #41c7c2;
}
